*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  height:100vh;
  background: linear-gradient(135deg, #6e28af, #3b145f, #1b4f8a);
  display:flex;
  justify-content:center;
  align-items:center;
}

/* CONTENEDOR */
.form-container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* CAJA */
.form-box{
  background: rgba(0,0,0,.85);
  padding:50px;
  border-radius:35px;
  width:380px;
  text-align:center;
  box-shadow:0 0 40px #8f00ff;
  animation: fadeIn .6s ease;
}

/* TITULO */
.form-title{
  color:#5ad7ff;
  font-size:30px;
  margin-bottom:30px;
  text-shadow:0 0 15px #5ad7ff;
}

/* INPUTS */
.form-box input{
  width:100%;
  padding:14px;
  margin-bottom:18px;
  border:none;
  border-radius:20px;
  font-size:15px;
  outline:none;
}

/* BOTÓN MISMO ESTILO */
.btn{
  width:100%;
  padding:14px;
  border-radius:30px;
  border:none;
  background: linear-gradient(135deg, #00e5ff, #8f00ff);
  font-weight:bold;
  font-size:16px;
  cursor:pointer;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px #00e5ff;
}

/* LINKS */
.link{
  margin-top:20px;
  color:white;
  font-size:14px;
}

.link a{
  color:#5ad7ff;
  text-decoration:none;
}

.link a:hover{
  text-decoration:underline;
}

/* ANIMACIÓN */
@keyframes fadeIn{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}