body{
  margin:0;
  font-family: Arial, sans-serif;
  background: url("../imagenes/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  color:white;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* CONTENEDOR */
.contenedor{
  width:90%;
  max-width:800px;
  padding:40px;
  backdrop-filter: blur(8px);
}

/* TITULOS */
h1{
  text-align:center;
  color:#00f7ff;
  text-shadow:0 0 15px #00f7ff;
}

.subtitulo{
  text-align:center;
  margin-bottom:40px;
  opacity:.8;
}

/* PREGUNTAS */
.pregunta{
  background: rgba(0,0,0,.75);
  padding:50px;
  border-radius:20px;
  margin-bottom:25px;
  animation: fadeIn .5s ease;
}

.pregunta h3{
  margin-bottom:20px;
}

/* OPCIONES */
.opciones-columna{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.opcion{
  background:#111;
  padding:15px;
  border-radius:12px;
  cursor:pointer;
  text-align:center;
  transition:.3s;
  border:1px solid #444;
}

.opcion:hover{
  transform:scale(1.05);
  background:#1f1f1f;
}

/* CORRECTO */
.correcta{
  background:#00c853 !important;
  box-shadow:0 0 15px #00ff88;
  color:#000;
}

/* INCORRECTO */
.incorrecta{
  background:#ff1744 !important;
  box-shadow:0 0 15px #ff4d6d;
  color:#fff;
}

/* FEEDBACK */
.feedback{
  margin-top:15px;
  padding:12px 18px;
  border-radius:12px;
  font-size:14px;
  display:none;
  animation: fadeIn .4s ease;
}

.feedback.correcto{
  background:rgba(0,255,136,.15);
  color:#00ff88;
  border:1px solid #00ff88;
}

.feedback.incorrecto{
  background:rgba(255,23,68,.15);
  color:#ff4d6d;
  border:1px solid #ff4d6d;
}

/* BOTÓN SIGUIENTE MEJORADO */
.next-btn {
  display:none;
  margin:25px auto 0 auto;
  padding:12px 40px;
  font-size:15px;
  border-radius:30px;
  background: linear-gradient(135deg, #00f7ff, #a100ff);
  border: none;
  cursor: pointer;
  font-weight: bold;
  color:#000;
  transition: all 0.3s ease;
}

.next-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px #00f7ff;
}

/* RESULTADO FINAL CENTRADO */
.resultado-final{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.resultado-box{
  background:#000;
  padding:60px;
  border-radius:30px;
  text-align:center;
  box-shadow:0 0 35px #8f00ff;
}

.btn-volver-niveles {
  padding: 12px 25px;
  background: linear-gradient(135deg, #00f7ff, #a100ff);
  color: #000;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 0 0 20px #a100ff;
  transition: all 0.3s ease;
  margin:10px;
  display:inline-block;
}

.btn-volver-niveles:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00f7ff;
}

/* ANIMACIÓN */
@keyframes fadeIn{
  from{opacity:0;transform:translateY(10px);}
  to{opacity:1;transform:translateY(0);}
}