body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, #15002b, #05000f);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 850px;
}

.tarjeta {
    display: flex;
    background: rgba(0,0,0,0.85);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 40px #8f00ff;
}

.lado-bienvenida {
    flex: 1;
    background: linear-gradient(135deg, #00e5ff, #8f00ff);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lado-formulario {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.lado-formulario h2 {
    color: #00e5ff;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    font-size: 14px;
}

input:focus {
    outline: 2px solid #8f00ff;
}

button {
    width: 100%;
    padding: 14px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(135deg, #00e5ff, #8f00ff);
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.error {
    color: #ff4d4d;
    font-size: 12px;
}