/* Estilos para la página de niveles (niveles.html) */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #4B0082, #8A2BE2); /* Fondo degradado morado */
    color: #fff;
    text-align: center;
    padding: 20px;
}

header {
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

main {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nivel {
    width: 200px;
    height: 200px;
    background-color: #000;
    border: 2px solid #00CED1; /* Turquesa */
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    transition: transform 0.3s ease;
    overflow: hidden; /* Para que la imagen no se salga del recuadro */
}

.nivel a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nivel img {
    max-width: 100%;
    max-height: 70%;
    object-fit: cover; /* Para que la imagen se ajuste al tamaño del recuadro */
    transition: transform 0.3s ease;
}

.nivel h2 {
    font-size: 1.5em;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.nivel:hover {
    transform: translateY(-10px); /* Elevar el recuadro al pasar el ratón */
}

.nivel:hover img {
    transform: scale(1.1); /* Hacer zoom en la imagen al pasar el ratón */
}

.nivel:hover h2 {
    transform: translateY(-10px); /* Elevar el título al pasar el ratón */
}

.bloqueado {
    opacity: 0.5;
    filter: grayscale(100%);
}

.volver {
  display: inline-block;
  margin-top: 30px;
  background-color: #9370DB;
}

.volver:hover {
  background-color: #00CED1;
}
